<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Style Profile' } %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @style_profile } %>

<%= form_for @style_profile, :url => admin_product_style_profile_url(@product), :method => :put do |f| %>
  <fieldset>
    <legend>Styles</legend>
    <table class="index sortable">
      <tbody>
        <tr>
          <td style="width: 20%;">
            <%= f.label :glam %>
            <%= f.number_field :glam %>
          </td>
          <td style="width: 20%;">
            <%= f.label :girly %>
            <%= f.number_field :girly %>
          </td>
          <td style="width: 20%;">
            <%= f.label :classic %>
            <%= f.number_field :classic %>
          </td>
          <td style="width: 20%;">
            <%= f.label :edgy %>
            <%= f.number_field :edgy %>
          </td>
          <td style="width: 20%;">
            <%= f.label :bohemian %>
            <%= f.number_field :bohemian %>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Body Shapes</legend>
    <table class="index sortable">
      <tbody>
        <% ProductStyleProfile::BODY_SHAPES.each_slice(4) do |shapes| %>
          <tr>
            <% shapes.each do |shape| %>
              <td style="width: 25%;">
                <%= f.label shape.to_sym %>
                <%= f.number_field shape.to_sym %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Bra Sizes</legend>
    <table class="index sortable">
      <tbody>
        <tr>
          <td style="width: 25%;">
            <%= f.label :bra_aaa, 'AAA' %>
            <%= f.number_field :bra_aaa %>
          </td>
          <td style="width: 25%;">
            <%= f.label :bra_aa, 'AA' %>
            <%= f.number_field :bra_aaa %>
          </td>
          <td style="width: 25%;">
            <%= f.label :bra_a, 'A' %>
            <%= f.number_field :bra_a %>
          </td>
          <td style="width: 25%;">
            <%= f.label :bra_b, 'B' %>
            <%= f.number_field :bra_b %>
          </td>
        </tr>
        <tr>
          <td style="width: 25%;">
            <%= f.label :bra_c, 'C' %>
            <%= f.number_field :bra_c %>
          </td>
          <td style="width: 25%;">
            <%= f.label :bra_d, 'D' %>
            <%= f.number_field :bra_d %>
          </td>
          <td style="width: 25%;">
            <%= f.label :bra_e, 'E' %>
            <%= f.number_field :bra_e %>
          </td>
          <td style="width: 25%;">
            <%= f.label :bra_fpp, 'F++' %>
            <%= f.number_field :bra_fpp %>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Sexiness & Fashionability</legend>
    <table class="index sortable">
      <tbody>
        <tr>
          <td style="width: 50%;">
            <%= f.label :sexiness %>
            <%= f.number_field :sexiness %>
          </td>
          <td style="width: 50%;">
            <%= f.label :fashionability %>
            <%= f.number_field :fashionability %>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <div class="form-buttons filter-actions actions">
    <%= button t(:update), 'icon-refresh' %>
  </div>
<% end %>

