<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">

    <%= stylesheet_link_tag 'application_contentful' %>
    <%= stylesheet_link_tag "#{configatron.node_pdp_url}/#{webpack_assets['cssBundle']}" %>

    <%= render 'layouts/contentful/head' %>

  </head>
  <body>

    <div id="react-blanket" class="__react_root__"></div>
    <div id="react-menu" class="__react_root__"></div>
    <div id="react-cart" class="__react_root__"></div>
    <%= render 'layouts/redesign/shopping_spree' %>

    <div class="app-container">
      <% unless disable_notices? %>
        <%= render 'layouts/redesign/notices' %>
      <% end %>

      <div id="react-header" class="__react_root__"></div>
      <%= yield %>
    </div>

    <div id="react-footer" class="__react_root__"></div>


    <%= render 'google_tag_manager/base' %>

    <%= javascript_include_tag 'application_contentful' %>
    <%= render 'layouts/contentful/javascript' %>
    <%= javascript_include_tag 'shopping_spree_bundle' %>
    <%= javascript_include_tag "#{configatron.node_pdp_url}/#{webpack_assets['jsBundle']}" %>

  </body>
</html>
