<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">

    <%= stylesheet_link_tag 'application_contentful' %>

    <%= render 'layouts/contentful/head' %>

  </head>
  <body>

    <%= render 'layouts/redesign/header' %>

    <% add_spacing_top_content_class = @landing_page_container[:page_white_spacing_top] %>
    <div class="app-container <%= add_spacing_top_content_class %>">
      <% unless disable_notices? %>
        <%= render 'layouts/redesign/notices' %>
      <% end %>
      <%= yield %>
    </div>

    <%= render 'google_tag_manager/base' %>
    <%= render 'layouts/redesign/footer' %>
    <%= render 'layouts/redesign/shopping_bag' %>

    <%= javascript_include_tag 'application_contentful' %>
    <%= render 'layouts/contentful/javascript' %>

  </body>
</html>
