<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">

    <%= stylesheet_link_tag 'application_contentful' %>

  </head>
  <body>
    <%= render 'layouts/contentful/header' %>

    <div class="container">

      <h1 style="margin-top: 5em;">contents of: application.html.erb</h1>
      <%= yield %>
    </div>

  </body>
</html>
