<% content_for :page_title do %>
  Sale Settings
<% end %>

<script type="text/javascript">
  $(function(){
    $('fieldset.toggable:not(:first) .row').hide();

    $('fieldset.toggable legend').click(function(event){
      $(event.target).parents('fieldset:first').find('.row:first').toggle();
    });
  });

  $(document).ready(function(){
    $('#active_all_products').change(function(event){
      var isChecked = $(event.target).prop("checked");

      $('.product-discount-checkbox').each(function(_idx, el){
        $(el).prop("checked", isChecked);
      });
    });

    $('#push_discount_all_products').click(function(event){
      var newValue = $('#discount_all_products').val();

      $('.product-discount-amount').each(function(_idx, el){
        $(el).val(newValue);
      });
    });


  });
</script>

<div data-hook="admin_sale_edit_form">
  <div id="sale-form-wrapper">
    <%= form_for [:admin, @object], :method => :put do |f| %>
      <% if @object.try(:errors).present? %>
        <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @object } %>
      <% end %>
      <fieldset>
        <legend><%= t(:general_settings) %></legend>
        <div class="clearfix">
          <div class="twelve columns">
            <%= f.field_container :name do %>
              <%= f.label :name, t(:name) %> <span class="required">*</span><br />
              <%= f.text_field :name, :class => 'fullwidth' %>
              <%= f.error_message_on :name %>
            <% end %>
          </div>
        </div>
        <div class="clearfix">
          <div class="twelve columns">
            <%= f.field_container :sitewide_message do %>
              <%= f.label :sitewide_message, t(:sitewide_message) %> <span class="required">*</span> <small>- (Variable '{discount}' will be replaced with actual discount representaion)</small><br />
              <%= f.text_field :sitewide_message, :class => 'fullwidth' %>
              <%= f.error_message_on :sitewide_message %>
            <% end %>
          </div>
        </div>
        <div class="clearfix">
          <div class="four columns">
            <%= f.field_container :is_active, :class => ['checkbox'] do %>
              <label>
                <%= f.check_box :is_active %>
                is Active
                <%= f.error_message_on :is_active %>
              </label>
            <% end %>
          </div>
          <div class="four columns">
            <%= f.field_container :sitewide, :class => ['checkbox'] do %>
              <label>
                <%= f.check_box :sitewide %>
                is sitewide
                <%= f.error_message_on :sitewide %>
              </label>
            <% end %>
          </div>
          <div class="four columns">
            <%= f.field_container :customisation_allowed, :class => ['checkbox'] do %>
              <label>
                <%= f.check_box :customisation_allowed %>
                customisation allowed?
                <%= f.error_message_on :customisation_allowed %>
              </label>
            <% end %>
          </div>
          <div class="four columns">
            <%= f.field_container :currency do %>
              <%= f.label :currency, t(:currency) %> <span class="required">*</span><br />
              <%= f.select :currency, SiteVersion.pluck(:currency), {:include_blank => 'ALL'}, {:class => 'select2 fullwidth'} %>
            <% end %>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend><%= t(:default_discount_settings) %></legend>
        <div class="clearfix">
          <div class="four columns">
            <%= f.field_container :discount_size do %>
              <%= f.label :discount_size, t(:discount_size) %> <span class="required">*</span><br />
              <%= f.text_field :discount_size, :class => 'fullwidth' %>
              <%= f.error_message_on :discount_size %>
            <% end %>
          </div>
          <div class="four columns">
            <%= f.field_container :discount_type do %>
              <%= f.label :discount_type, t(:discount_type) %> <span class="required">*</span><br />
              <%= f.select :discount_type, Spree::Sale::DISCOUNT_TYPES.to_a.map(&:reverse), {:include_blank => true}, {:class => 'select2 fullwidth'} %>
            <% end %>
          </div>
        </div>
      </fieldset>

      <% index = 0 %>
      <fieldset class="toggable">
        <legend><%= t(:products) %></legend>
        <div class="row">
          <table>
            <thead>
              <tr>
                <td>Active <input id="active_all_products" type="checkbox" /></td>
                <td>Name</td>
                <td>Discount ( 0..100%) <input style="width:auto;min-width: 10rem;" id="discount_all_products" type="number" min="0" max="100" placeholder="Discount for all Products" /><input type="button" id="push_discount_all_products" value="Set All"/></td>
              </tr>
            </thead>

            <% Spree::Product.active.includes(:discounts).each do |product| %>
              <% discount = product.discounts.find{ |discount| discount.sale_id == @object.id } %>
              <tr>
                <td>
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][discountable_type]" value="<%= product.class.name %>" />
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][discountable_id]" value="<%= product.id %>" />
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][_destroy]" value="1" />
                  <% if discount.present? %>
                    <input type="hidden" name="sale[discounts_attributes][<%= index %>][id]" value="<%= discount.id %>" />
                    <input type="checkbox" class='product-discount-checkbox' name="sale[discounts_attributes][<%= index %>][_destroy]" value="0" checked />
                  <% else %>
                    <input type="checkbox" class='product-discount-checkbox' name="sale[discounts_attributes][<%= index %>][_destroy]" value="0" />
                  <% end %>
                </td>
                <td>
                  <%= link_to product.name, edit_admin_product_path(product), target: :blank %>
                  <br />
                  <small><%= link_to 'view on site', "/dresses/dress-#{ product.permalink }-#{ product.id }" %></small>
                </td>
                <td>
                  <% field_name = "sale[discounts_attributes][#{ index }][amount]" %>
                  <% discount_amount = discount.present? ? discount.amount : '' %>
                  <input class="product-discount-amount" type="number" min="0" max="100" name="<%= field_name %>" value="<%= discount_amount %>" />

                </td>
              </tr>
              <% index += 1 %>
            <% end %>
          </table>
        </div>
      </fieldset>
      <fieldset class="toggable">
        <legend><%= t(:customizations) %></legend>
        <div class="row">
          <table>
            <thead>
            <tr>
              <td>Active</td>
              <td>Name</td>
              <td>Discount ( 0..100%)</td>
            </tr>
            </thead>

            <% CustomisationValue.includes(:discounts).each do |customization| %>
              <% discount = customization.discounts.find{ |discount| discount.sale_id == @object.id } %>
              <tr>
                <td>
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][discountable_type]" value="<%= customization.class.name %>" />
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][discountable_id]" value="<%= customization.id %>" />
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][_destroy]" value="1" />
                  <% if discount.present? %>
                    <input type="hidden" name="sale[discounts_attributes][<%= index %>][id]" value="<%= discount.id %>" />
                    <input type="checkbox" name="sale[discounts_attributes][<%= index %>][_destroy]" value="0" checked />
                  <% else %>
                    <input type="checkbox" name="sale[discounts_attributes][<%= index %>][_destroy]" value="0" />
                  <% end %>
                </td>
                <td>
                  customization.presentation
                </td>
                <td>
                  <% field_name = "sale[discounts_attributes][#{ index }][amount]" %>
                  <% if discount.present? %>
                    <input type="number" min="0" max="100" name="<%= field_name %>" value="<%= discount.amount %>" />
                  <% else %>
                    <input type="number" min="0" max="100" name="<%= field_name %>" />
                  <% end %>
                </td>
              </tr>
              <% index += 1 %>
            <% end %>
          </table>
        </div>
      </fieldset>

      <fieldset class="toggable">
        <legend><%= t(:colors) %></legend>
        <div class="row">
          <table>
            <thead>
            <tr>
              <td>Active</td>
              <td>Name</td>
              <td>Discount ( 0..100%)</td>
            </tr>
            </thead>

            <% Spree::OptionValue.colors.includes(:discounts).each do |color| %>
              <% discount = color.discounts.find{ |discount| discount.sale_id == @object.id } %>
              <tr>
                <td>
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][discountable_type]" value="<%= color.class.name %>" />
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][discountable_id]" value="<%= color.id %>" />
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][_destroy]" value="1" />
                  <% if discount.present? %>
                    <input type="hidden" name="sale[discounts_attributes][<%= index %>][id]" value="<%= discount.id %>" />
                    <input type="checkbox" name="sale[discounts_attributes][<%= index %>][_destroy]" value="0" checked />
                  <% else %>
                    <input type="checkbox" name="sale[discounts_attributes][<%= index %>][_destroy]" value="0" />
                  <% end %>
                </td>
                <td>
                  <%= color.presentation %>
                </td>
                <td>
                  <% field_name = "sale[discounts_attributes][#{ index }][amount]" %>
                  <% if discount.present? %>
                    <input type="number" min="0" max="100" name="<%= field_name %>" value="<%= discount.amount %>" />
                  <% else %>
                    <input type="number" min="0" max="100" name="<%= field_name %>" />
                  <% end %>
                </td>
              </tr>
              <% index += 1 %>
            <% end %>
          </table>
        </div>
      </fieldset>

      <fieldset class="toggable">
        <legend><%= t(:custom_size_extra_price_discount) %></legend>
        <div class="row">
          <table>
            <thead>
            <tr>
              <td>Active</td>
              <td>Name</td>
              <td>Discount ( 0..100%)</td>
            </tr>
            </thead>

            <% Spree::OptionValue.sizes.includes(:discounts).each do |size| %>
              <% discount = size.discounts.find{ |discount| discount.sale_id == @object.id } %>
              <tr>
                <td>
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][discountable_type]" value="<%= size.class.name %>" />
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][discountable_id]" value="<%= size.id %>" />
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][_destroy]" value="1" />
                  <% if discount.present? %>
                    <input type="hidden" name="sale[discounts_attributes][<%= index %>][id]" value="<%= discount.id %>" />
                    <input type="checkbox" name="sale[discounts_attributes][<%= index %>][_destroy]" value="0" checked />
                  <% else %>
                    <input type="checkbox" name="sale[discounts_attributes][<%= index %>][_destroy]" value="0" />
                  <% end %>
                </td>
                <td>
                  Size: <%= size.presentation %>
                </td>
                <td>
                  <% field_name = "sale[discounts_attributes][#{ index }][amount]" %>
                  <% if discount.present? %>
                    <input type="number" min="0" max="100" name="<%= field_name %>" value="<%= discount.amount %>" />
                  <% else %>
                    <input type="number" min="0" max="100" name="<%= field_name %>" />
                  <% end %>
                </td>
              </tr>
              <% index += 1 %>
            <% end %>
          </table>
        </div>
      </fieldset>

      <p class="form-buttons">
        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= button t(:update), 'icon-refresh' %>
        </div>
      </p>
    <% end %>
  </div>
</div>
