<% content_for :page_title do %>
  Sale Settings
<% end %>

<div data-hook="admin_sale_edit_form">
  <div id="sale-form-wrapper">
    <%= form_for [:admin, @object], :method => :put do |f| %>
      <% if @object.try(:errors).present? %>
        <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @object } %>
      <% end %>
      <fieldset>
        <div class="clearfix">
          <div class="twelve columns">
            <%= f.field_container :name do %>
              <%= f.label :name, t(:name) %> <span class="required">*</span><br />
              <%= f.text_field :name, :class => 'fullwidth' %>
              <%= f.error_message_on :name %>
            <% end %>
        </div>
        <div class="clearfix">
          <div class="four columns">
            <%= f.field_container :is_active, :class => ['checkbox'] do %>
              <label>
                <%= f.check_box :is_active %>
                is Active
                <%= f.error_message_on :is_active %>
              </label>
            <% end %>
          </div>
          <div class="four columns">
            <%= f.field_container :discount_size do %>
              <%= f.label :discount_size, t(:discount_size) %> <span class="required">*</span><br />
              <%= f.text_field :discount_size, :class => 'fullwidth' %>
              <%= f.error_message_on :discount_size %>
            <% end %>
          </div>
          <div class="four columns">
            <%= f.field_container :discount_type do %>
              <%= f.label :discount_type, t(:discount_type) %> <span class="required">*</span><br />
              <%= f.select :discount_type, Spree::Sale::DISCOUNT_TYPES.to_a.map(&:reverse), {:include_blank => true}, {:class => 'select2 fullwidth'} %>
            <% end %>
          </div>
        </div>

        <fieldset>
          <div class="clearfix">
            <p class="form-buttons">
              <div class="form-buttons filter-actions actions" data-hook="buttons">
                <%= button t(:update), 'icon-refresh' %>
              </div>
            </p>
          </div>
        </fieldset>

        <table>
          <thead>
            <tr>
              <td>Active</td>
              <td>Name</td>
              <td>Discount ( 0..100%)</td>
            </tr>
          </thead>

          <% Spree::Product.active.includes(:discounts).each_with_index do |product, index| %>
            <% discount = product.discounts.find{ |discount| discount.sale_id == @object.id } %>
            <tr>
              <td>
                <input type="hidden" name="sale[discounts_attributes][<%= index %>][discountable_type]" value="<%= product.class.name %>" />
                <input type="hidden" name="sale[discounts_attributes][<%= index %>][discountable_id]" value="<%= product.id %>" />
                <input type="hidden" name="sale[discounts_attributes][<%= index %>][_destroy]" value="1" />
                <% if discount.present? %>
                  <input type="hidden" name="sale[discounts_attributes][<%= index %>][id]" value="<%= discount.id %>" />
                  <input type="checkbox" name="sale[discounts_attributes][<%= index %>][_destroy]" value="0" checked />
                <% else %>
                  <input type="checkbox" name="sale[discounts_attributes][<%= index %>][_destroy]" value="0" />
                <% end %>
              </td>
              <td>
                <%= link_to product.name, edit_admin_product_path(product), target: :blank %>
              </td>
              <td>
                <% field_name = "sale[discounts_attributes][#{ index }][amount]" %>
                <% if discount.present? %>
                  <input type="number" min="0" max="100" name="<%= field_name %>" value="<%= discount.amount %>" />
                <% else %>
                  <input type="number" min="0" max="100" name="<%= field_name %>" />
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>

        <p class="form-buttons">
          <div class="form-buttons filter-actions actions" data-hook="buttons">
            <%= button t(:update), 'icon-refresh' %>
          </div>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>

<!--<div data-hook="free_customisation_price_form">-->
  <!--<div id="free-customisation-form-wrapper">-->
    <!--<%= form_tag admin_sales_set_free_customisations_path, method: :put, remote: true do %>-->
      <!--<fieldset class="customisation_values sale">-->
        <!--<div class="field">-->
          <!--<%= check_box_tag :free_customisations, true, Spree::Config[:free_customisations] %>-->
          <!--<%= label_tag(:free_customisations, 'Free customisations') %>-->
        <!--</div>-->
      <!--</fieldset>-->

      <!--<div class="form-buttons filter-actions actions" data-hook="buttons">-->
        <!--<%= button t(:update), 'icon-refresh' %>-->
      <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->
<!--</div>-->

