<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @accessory } %>

<%= form_for [:admin, @sale], :html => { :multipart => true } do |f| %>

<fieldset data-hook="new_sale">

  <legend align="center"><%= t(:new_sale) %></legend>

  <fieldset>
    <div class="clearfix">
      <div class="twelve columns">
        <%= f.field_container :name do %>
          <%= f.label :name, t(:name) %> <span class="required">*</span><br />
          <%= f.text_field :name, :class => 'fullwidth' %>
          <%= f.error_message_on :name %>
        <% end %>
    </div>
    <div class="clearfix">
      <div class="twelve columns">
        <%= f.field_container :sitewide_message do %>
          <%= f.label :sitewide_message, t(:sitewide_message) %> <span class="required">*</span> <small>- (Variable '{discount}' will be replaced with actual discount representaion)</small><br />
          <%= f.text_field :sitewide_message, :class => 'fullwidth' %>
          <%= f.error_message_on :sitewide_message %>
        <% end %>
      </div>
    </div>
    <div class="clearfix">
      <div class="four columns">
        <%= f.field_container :is_active, :class => ['checkbox'] do %>
          <label>
            <%= f.check_box :is_active %>
            is Active
            <%= f.error_message_on :is_active %>
          </label>
        <% end %>
      </div>
      <div class="four columns">
        <%= f.field_container :sitewide, :class => ['checkbox'] do %>
          <label>
            <%= f.check_box :sitewide %>
            is site wide
            <%= f.error_message_on :sitewide %>
          </label>
        <% end %>

        <%= f.field_container :customisation_allowed, :class => ['checkbox'] do %>
          <label>
            <%= f.check_box :customisation_allowed %>
            customisation allowed?
            <%= f.error_message_on :customisation_allowed %>
          </label>
        <% end %>
      </div>

      <div class="four columns">
        <%= f.field_container :discount_size do %>
          <%= f.label :discount_size, t(:discount_size) %> <span class="required">*</span><br />
          <%= f.text_field :discount_size, :class => 'fullwidth' %>
          <%= f.error_message_on :discount_size %>
        <% end %>
      </div>
      <div class="four columns">
        <%= f.field_container :discount_type do %>
          <%= f.label :discount_type, t(:discount_type) %> <span class="required">*</span><br />
          <%= f.select :discount_type, Spree::Sale::DISCOUNT_TYPES.to_a.map(&:reverse), {:include_blank => true}, {:class => 'select2 fullwidth'} %>
        <% end %>
      </div>
      <div class="four columns">
        <%= f.field_container :currency do %>
          <%= f.label :currency, t(:currency) %> <span class="required">*</span><br />
          <%= f.select :currency, SiteVersion.pluck(:currency), {:include_blank => 'ALL'}, {:class => 'select2 fullwidth'} %>
        <% end %>
      </div>
    </div>
  </fieldset>


  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button t('actions.create'), 'icon-ok' %>
    <span class="or"><%= t(:or) %></span>
    <%= link_to_with_icon 'icon-remove', t('actions.cancel'), admin_sales_path, :class => 'button' %>
  </div>
</fieldset>
<% end %>
