<%= form_for([:admin_blog, @celebrity_photo], :html => { :multipart => true }) do |f| %>
  <fieldset class="no-border-top">
    <%= image_tag @celebrity_photo.photo.url, class: 'edit-celebrity-photo' if @celebrity_photo.photo.present? %>
    <%= f.field_container :celebrity_name do %>
      <%= f.label :celebrity_name, t("activerecord.attributes.celebrity_photos.celebrity_name") %><br />
      <%= f.text_field :celebrity_name, :class => 'text', size: 50  %><br />
    <% end %>

    <%= f.field_container :photo do %>
      <span class="required">*</span>
      <%= f.label :photo, t("activerecord.attributes.celebrity_photos.photo") %><br />
      <%= f.file_field :photo, :class => 'file-field' %><br />
    <% end %>
    <%= f.field_container :event_date do %>
      <%= f.label :event_date, t("activerecord.attributes.celebrity_photos.event_date") %><br />
      <%= f.text_field :event_date, :class => 'datepicker hasDatepicker', size: 50 %><br />
    <% end %>

    <%= f.field_container :tag_list do %>
      <%= f.label :tag_list, t("activerecord.attributes.celebrity_photos.tags") %><br />
      <%= f.text_field :tag_list, :class => 'text', size: 50 %><br />
    <% end %>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= f.button "Create", type:'submit', class: 'icon-ok button' %>
      <span class="or">or</span>
      <%= link_to "Cancel", admin_blog_celebrity_photos_path, class: "button icon_link with-tip icon-remove" %>
    </div>
  </fieldset>
<% end %>