<%= render partial: "spree/admin/shared/blog_sub_menu" %>

<%= link_to 'Upload photo', new_admin_blog_celebrity_photo_path, class: 'button icon_link add-new-item' %>
<div class="celebrity_photos">
  <% @celebrity_photos.each do |celebrity_photo| %>
    <div class="photo">
      <h5 class="photo-title"><%= celebrity_photo.celebrity.name %></h5>
      <%= link_to image_tag(celebrity_photo.photo, class: 'celebrity-photo'), edit_admin_blog_celebrity_photo_path(celebrity_photo) %>
    </div>
  <% end %>
</div>

<%= render partial: "spree/admin/shared/no_items_found" unless @celebrity_photos.any? %>