<% content_for :page_title do %>
	<%=link_to t(:listing_banner_boxes), '#', :id=>"listing_banner"%> | 
<% end %>

<% content_for :page_title do %>
	<%=link_to t(:listing_small_banners), '#', :id=>"listing_small_banner"%>
<% end %>

<% content_for :page_actions do %>
	<div class="toolbar" data-hook="toolbar">
		<ul class="actions header-action-links inline-menu">
			<li id="new_banner_box_link">
				<%= button_link_to t(:new_banner_box), new_object_url, { :remote => true, :icon => 'icon-plus', :id => 'admin_new_banner_box' } %>
			</li>
		</ul>
	</div>
<% end %>

<%= render :partial => 'spree/admin/shared/banner_box_sub_menu' %>

<div id="new_banner_box" data-hook></div>
<div id="banner_show"><%= render :partial=>'spree/admin/banner_boxes/collection'%></div>
<div id="banner_small_show"><%= render :partial=>'spree/admin/banner_boxes/collection_small'%></div>

<script>
$(document).ready(function(){
$('#banner_show').show();
$('#banner_small_show').hide();
$('#listing_banner').click(function() {
$('#banner_show').show();
$('#banner_small_show').hide();
});
$('#listing_small_banner').click(function() {
$('#banner_show').hide();
$('#banner_small_show').show();
});
});
</script>

