<% content_for :page_title do %>
  <%= t(:listing_reports) %>
<% end %>

<table class="index">
  <thead>
    <tr data-hook="reports_header">
      <th><%= t(:name) %></th>
      <th><%= t(:description) %></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |key, value| %>
    <tr data-hook="reports_row">
      <td><%= link_to value[:name], send("#{key}_admin_reports_url".to_sym) %></td>
      <td><%= value[:description] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3> Exports </h3>
<table class="index">
  <thead>
    <tr data-hook="exports_header">
      <th><%= t(:name) %></th>
      <th><%= t(:description) %></th>
    </tr>
  </thead>
  <tbody>
    <tr data-hook="exports_row">
      <td><%= link_to 'Moodboard', admin_wishlist_export_url %></td>
      <td>Csv file with moodboard items details [ product, user, timestamp]</td>
    </tr>
    <tr data-hook="exports_row">
      <td><%= link_to 'Style Profile', admin_user_style_profiles_export_url %></td>
      <td>Csv file with completed user style profiles [ user info, short style profile ]</td>
    </tr>
  </tbody>
</table>
