<%= form_for([:admin_blog, @post], url: admin_post_path(params[:category]), html: { multipart: true }) do |f| %>
  <fieldset class="no-border-top">
    <%= f.field_container :title do %>
      <%= f.label :title, t("activerecord.attributes.blog.title") %><br />
      <%= f.text_field :title, :class => 'text', size: 50  %><br />
    <% end %>

    <%= f.field_container :content do %>
      <%= f.label :content, t("activerecord.attributes.blog.content") %><br />
      <%= f.text_area :content, cols: 50, rows: 12 %><br />
    <% end %>
    <%= f.field_container :photo do %>
      <%= f.label :photo, t("activerecord.attributes.celebrity_photos.photo") %><br />
      <%= f.file_field :photo, :class => 'file-field  ' %><br />
    <% end %>
    <%= f.field_container :tag_list do %>
      <%= f.label :tag_list, t("activerecord.attributes.celebrity_photos.tags") %><br />
      <%= f.text_field :tag_list, :class => 'text', size: 50 %><br />
    <% end %>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= f.button "Create", type:'submit', class: 'icon-ok button' %>
      <span class="or">or</span>
      <%= link_to "Cancel", admin_blog_celebrity_photos_path, class: "button icon_link with-tip icon-remove" %>
      <%= link_to "Publish", "/admin/blog/posts/publish/#{@post.id}", class: "button icon_link with-tip" if spree_current_user.admin? && @post.post_state.title != "Published" %>
      <%= link_to "Unpublish", "/admin/blog/posts/publish/#{@post.id}", class: "button icon_link with-tip" if spree_current_user.admin? && @post.post_state.title == "Published" %>
    </div>
  </fieldset>
<% end %>
