<%= form_for([:admin_blog, @post], url: admin_post_path(params[:category]), html: { multipart: true }) do |f| %>
  <fieldset class="no-border-top">
    <%= f.field_container :title do %>
      <%= f.label :title, t("activerecord.attributes.blog.title") %><br />
      <%= f.text_field :title, :class => 'text', size: 50  %><br />
    <% end %>

    <%= f.field_container :content do %>
      <%= f.label :content, t("activerecord.attributes.blog.content") %><br />
      <%= f.cktext_area :content, cols: 50, rows: 12, ckeditor: { toolbar: "simple" } %><br />
    <% end %>
    <%= f.field_container :celebrity_photos do %>
      <%= f.label :celebrity_photos, t("activerecord.attributes.celebrity_photos.photo") %><br />
      <div class='photo-fields'>
        <%= f.label :celebrity_name, t("activerecord.attributes.blog.celebrity_name") %><br />
        <%= f.text_field :celebrity_name, name: "post[celebrity_photos_attributes][][celebrity_name]", :class => 'text', size: 50 %><br />
        <%= f.file_field :celebrity_photo, name: "post[celebrity_photos_attributes][][photo]", :class => 'file-field  ' %><br />
      </div>
      <%= link_to "Add photo field", "#", class: 'add-photo-field' %>
    <% end %>
    <%= f.field_container :tag_list do %>
      <%= f.label :tag_list, t("activerecord.attributes.celebrity_photos.tags") %><br />
      <%= f.text_field :tag_list, :class => 'text', size: 50 %><br />
    <% end %>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= f.button "Create", type:'submit', class: 'icon-ok button' %>
      <span class="or">or</span>
      <%= link_to "Cancel", admin_blog_celebrity_photos_path, class: "button icon_link with-tip icon-remove" %>
      <%- if @post.post_state %>
        <%= link_to "Publish", "/admin/blog/posts/publish/#{@post.id}", class: "button icon_link with-tip" if spree_current_user.admin? && @post.post_state.title != "Published" %>
        <%= link_to "Unpublish", "/admin/blog/posts/publish/#{@post.id}", class: "button icon_link with-tip" if spree_current_user.admin? && @post.post_state.title == "Published" %>
      <% end %>
    </div>
  </fieldset>
<% end %>
