<%= render partial: "spree/admin/shared/blog_sub_menu" %>

<%= link_to "Add #{params[:category].to_s.titleize}", send("new_admin_blog_#{params[:category].to_s.singularize}_path"), class: 'button icon_link add-new-item' %>
<div class="blog_posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h5 class="post-title"><%= post.title %></h5>
      <%= link_to 'Edit', admin_post_path(params[:category], :singular, post, :edit) %>
    </div>
  <% end %>
</div>

<%= render partial: "spree/admin/shared/no_items_found" unless @posts.any? %>