<%= render partial: "spree/admin/shared/blog_sub_menu" %>

<%= link_to "Add #{params[:category].to_s.titleize}", send("new_admin_blog_#{params[:category].to_s.singularize}_path"), class: 'button icon_link add-new-item' %>
<table class="index blog_posts">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>State</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= "#{post.user.first_name} #{post.user.last_name}" %></td>
      <td><%= post.post_state.title %></td>
      <td>
        <%= link_to "", admin_post_path(params[:category], :singular, post, :edit), class: "icon_link with-tip icon-edit no-text", "data-action" => "edit" %>
        <%= link_to "", admin_post_path(params[:category], :singular, post), class: "delete-resource icon_link with-tip icon-trash no-text", "data-action" => "remove" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: "spree/admin/shared/no_items_found" unless @posts.any? %>