<% tile_alignment = contents[:tile_cta_alignment] %>
<div class="section-row columns is-multiline is-mobile">

  <% if tile_alignment == "left" %>
    <div class="column is-full-mobile is-full-tablet is-half-desktop">
      <div class="<%= contents[:full_width_content_class] %>">
        <%= render partial: "layouts/contentful/modules/items/ITEM--lg", locals: {contents: contents} %>
        <%= render partial: "layouts/contentful/modules/components/COMPONENT--bottom-cta", locals: {contents: contents} %>
      </div>
    </div>
  <% end %>

  <% contents[:sm_items].each_with_index do |item,index| %>
    <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
      <% @pid = item %>
      <%= render partial: "layouts/contentful/modules/items/ITEM--sm", locals: {contents: contents, pid_index: (index.to_i + 1)} %>
    </div>
  <% end %>

  <% if tile_alignment == "right" %>
    <div class="column is-full-mobile is-full-tablet is-half-desktop">
      <div class="<%= contents[:full_width_content_class] %>">
        <%= render partial: "layouts/contentful/modules/items/ITEM--lg", locals: {contents: contents} %>
        <%= render partial: "layouts/contentful/modules/components/COMPONENT--bottom-cta", locals: {contents: contents} %>
      </div>
    </div>
  <% end %>

</div>
