<div class="section-row columns">
  <div class="column">
    <div class="CtaNarrow <%= contents[:side_padding_class] %> <%= contents[:text_alignment_desktop_class] %> <%= contents[:text_alignment_mobile_class] %>">
      <a href="<%= contents[:relative_url] %>" class="CtaNarrow__Link link-underline"><%= contents[:button_label] %></a>
    </div>
  </div>
</div>
