<div class="section-row tile columns is-ancestor">

  <div class="tile is-vertical is-6 is-hidden-mobile">

    <div class="tile is-parent">
      <div class="columns is-multiline is-mobile">
      <% contents[:sm_items].each_with_index do |item, index| %>
        <% @pid = item %>
        <%= content_tag(:div, :class => (contents[:sm_items].count == 3 && i == 0) ? "column is-6 is-offset-6" : "column is-6") do %>
          <%= render partial: "layouts/contentful/modules/items/ITEM--sm", locals: {contents: contents, pid_index: (index.to_i + 1)} %>
        <% end %>
      <% end %>
      </div>
    </div>

  </div>

  <div class="column is-parent is-6">

    <div class="tile">
      <div class="Editorial">
        <%= render partial: "layouts/contentful/modules/items/ITEM--lg", locals: {contents: contents} %>
      </div>
    </div>

  </div>

  <div class="tile is-parent is-vertical is-12 is-hidden-tablet">
    <div class="columns is-multiline is-mobile">
      <% contents[:sm_items].each_with_index do |item, index| %>
        <% @pid = item %>
        <%= content_tag(:div, :class => (contents[:sm_items].count == 3 && i == 0) ? "column is-6 is-offset-6" : "column is-6") do %>
          <%= render partial: "layouts/contentful/modules/items/ITEM--sm", locals: {contents: contents, pid_index: (index.to_i + 1)} %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
