<%
  image = @product.images.first
  if image.present? && image.attachment.present?
    product_image_url = absolute_image_url(image.attachment.url(:large), 'http')
  else
    product_image_url = get_absolute_image_url("/assets/noimage/product.png", 'http')
  end
%>
<div class="addthis_toolbox addthis_default_style">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <div class="start-moodboard">Start a Moodboard</div>
  <a class="addthis_button_pinterest_pinit" pi:pinit:url="<%= request.original_url %>" pi:pinit:media="<%= product_image_url %>" pi:pinit:layout="horizontal"></a>
</div>

<% if @product %>
  <% content_for :head do %>
    <% @product.images.each_with_index do |image, index| %>
      <meta property="og:image" content="<%= absolute_image_url(image.attachment.url(:large), 'http') %>" />
      <meta property="og:image:secure_url" content="<%= absolute_image_url(image.attachment.url(:large), 'https') %>" />

      <% if index == 0 %>
        <meta name="twitter:image:src" content="<%= absolute_image_url(image.attachment.url(:large), 'http') %>" />
      <% end %>
    <% end %>
    <meta property="og:site_name" content="<%= 'Fame and Partners' %>" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="<%= get_title %>" />
    <meta property="og:type" content="product" />
    <meta property="og:price:amount" content="<%= @product.price %>" />
    <meta property="og:url" content="<%= collection_product_url(@product) %>" />
    <meta property="og:description" content="<%= get_meta_description %>" />
    <meta property="og:price:currency" content="AUD" />
    <meta property="og:availability" content="instock" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= get_title %>" />
    <meta name="twitter:description" content="<%= get_meta_description %>" />
  <% end %>
<% end %>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f711fa532bc34ad"></script>
