<style type="text/css">
  .user-search-form.collapsed .row { display: none; }
  .user-search-form.collapsed legend .icon-minus { display: none; }
  .user-search-form legend .icon-plus { display: none; }
  .user-search-form.collapsed legend .icon-plus { display: inline; }

</style>

<script type="text/javascript">
  $( document ).ready(function() {
    var user, row;

    var currentOwner = <%=raw @order.user.present? ? @order.user.to_json : { user: {} }.to_json %>;

    var containsUser = function(users, user_id){
      if (users.length == 0 || !user_id){
        return false;
      };
      var result = false;
      for (var i = 0; i < users.length; i++){
        if (users[i].user.id == user_id){
          result = true
        };
      };
      return result;
    };

    var renderUsers = function(users){
      $tbody = $('#users-list').empty();
      var user_id = parseInt($('#order_owner_id').val());

      // append current value [ ability to return ]
      users = (users || []);
      if (!containsUser(users, currentOwner.user.id)){
        users.unshift(currentOwner);
      };

      _.each(users, function(user_data, index, collection){
        user = user_data.user;
        row = $('<tr>', { 'data-action': 'choose', 'data-id': user.id });
        row.append($('<td>', { html: 
          $('<input>', { type: "radio", value: user.id, name: 'order[user_id]', id: "order_user_id_" + user.id })
        }));
        row.append($('<td>', { html: 
          $('<a>', { text: user.email, href: '/admin/users/' + user.id })
        }));
        row.append($('<td>', { text: user.first_name }));
        row.append($('<td>', { text: user.last_name }));

        $tbody.append(row);
      });

      // show current state
      var $row = $('tr[data-id=' + user_id + ']');
      $row.addClass('even').siblings('.even').removeClass('even');
      $row.find('input[type=radio]').prop('checked', true);
      
    };

    $('#user-search-button').on('click', function(e){
      e.preventDefault();

      var user_data = {
        first_name_cont: $('#first_name').val(),
        last_name_cont:  $('#last_name').val(),
        email_cont:      $('#email').val()
      };

      $.ajax({
        url: "/admin/search/order_owners",
        type: "GET",
        dataType: "json",
        data: { q: user_data }
      }).success(function(data){
        if (data && data.users) {
          renderUsers(data.users);
        };
      });
    });

    $('#clear-user-search-form-button').on('click', function(e){
      e.preventDefault();
      $('#first_name').val('');
      $('#last_name').val('');
      $('#email').val('');
    })

    $('fieldset.user-search-form legend').on('click', function(e){
      $('fieldset.user-search-form').toggleClass("collapsed");
    });

    $('fieldset.user-search-form table').on('click', 'tr[data-action=choose]', function(e) {
      var $row = $(e.currentTarget);
      $row.addClass('even').siblings('.even').removeClass('even');
      $row.find('input[type=radio]').prop('checked', true);
      $('#order_owner_id').val($row.data('id'));
    });
  });
</script>

<fieldset data-hook="admin_customer_detail_form_fields" class="no-border-top">
  <fieldset class="index no-border-bottom" data-hook="customer_guest">
    <legend align="center"><%= t(:account) %></legend>

    <div data-hook="customer_fields" class="row">
      <div class="alpha eight columns">
        <div class="field">
          <%= f.label :email, t(:email) + ':' %>
          <%= f.email_field :email, :class => 'fullwidth' %>
        </div>
      </div>
      <div class="omega four columns">
        <div class="field">
          <%= label_tag nil, t(:guest_checkout) %>:
          <ul>
            <% if @order.completed? %>
              <li>
                <%= @order.user.nil? ? t(:yes) : t(:no) %>
              </li>

            <% else %>
              <% guest = @order.user.nil? || @order.user.anonymous? %>
              <li>
                <%= radio_button_tag :guest_checkout, true, guest %>
                <%= t(:yes) %>
              </li>
              <li>
                <%= radio_button_tag :guest_checkout, false, !guest, :disabled => @order.cart? %>
                <%= t(:no) %>
              </li>
            <% end %>

            <%= f.hidden_field :user_id, value: @order.user_id, id: 'order_owner_id' %>
          </ul>
        </div>
      </div>
    </div>
  </fieldset>

  <% if @order.completed? %>
    <fieldset class="index no-border-bottom user-search-form collapsed">
      <legend style="cursor: pointer;" align="center">
        <span class="icon-plus">&nbsp;</span>
        <span class="icon-minus">&nbsp;</span>
        &nbsp;

        Change User Owner
      </legend>

      <div class="row">
        Type user credentials and choose required user from list. update user
      </div>

      <div class="row">
        <div class="alpha six columns">
          <div class="field">
            <%= f.label :first_name, t(:first_name) + ':' %>
            <%= text_field_tag :first_name, @order.user_first_name, :class => 'fullwidth' %>
          </div>
        </div>
        <div class="alpha six columns">
          <div class="field">
            <%= f.label :last_name, t(:last_name) + ':' %>
            <%= text_field_tag :last_name, @order.user_last_name, :class => 'fullwidth' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="alpha eight columns">
          <div class="field">
            <%= f.label :email, t(:email) + ':' %>
            <%= text_field_tag :email, @order.email, :class => 'fullwidth' %>
          </div>
        </div>
        <div class="alpha four columns">
          <div class="field">
            <%= link_to t(:search), '#', class: 'icon-search button', id: 'user-search-button' %>
            <%= link_to t(:reset_form), '#', class: 'icon-trash button', id: 'clear-user-search-form-button' %>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="index" id="users-list">
          <colgroup>
            <col style="width: 10%;"></col>
            <col style="width: 30%;"></col>
            <col style="width: 20%;"></col>
            <col style="width: 20%;"></col>
          </colgroup>
          <tbody>
            <% if @order.user.present? %>
              <tr class="current">
                <td>
                  <input checked="true" type="radio" value="<%= @order.user_id %>" id="order_user_id_<%= @order.user_id %>" />
                </td>
                <td><%= link_to @order.user.email, admin_user_path(@order.user) %></td>
                <td><%= @order.user.first_name %></td>
                <td><%= @order.user.last_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </fieldset>
  <% end %>


  <div data-hook="bill_address_wrapper" class="alpha six columns">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= t(:billing_address) %></legend>
      <%= f.fields_for :bill_address do |ba_form| %>
        <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => ba_form, :name => t(:billing_address), :use_billing => false } %>
      <% end %>
    </fieldset>
  </div>

  <div class="omega six columns" data-hook="ship_address_wrapper">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= t(:shipping_address) %></legend>
      <%= f.fields_for :ship_address do |sa_form| %>
        <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => sa_form, :name => t(:shipping_address), :use_billing => true } %>
      <% end %>
    </fieldset>
  </div>

  <div class="clear"></div>

  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button @order.cart? ? t(:continue) : t(:update), @order.cart? ? 'icon-arrow-right' : 'icon-refresh' %>
  </div>

  <% content_for :head do %>
    <%= javascript_include_tag states_path, 'admin/address_states.js' %>
  <% end %>
</fieldset>
