<tr class="customisation_value fields" id="spree_<%= dom_id(f.object) %>"  data-hook="customisation_value" class="<%= cycle('odd', 'even')%>">
  <td class="no-border">
    <span class="handle"></span>
    <%= f.hidden_field :id %>
  </td>
  <td class="name"><%= f.text_field :name %></td>
  <td class="presentation"><%= f.text_field :presentation %></td>
  <td class="price"><%= f.text_field :price, value: f.object.price %></td>
  <td class="image">
    <% if f.object.image? %>
      <span><%= image_tag(f.object.image.url(:mini), width: 30, height: 30) %></span>
    <% end %>
    <%= f.file_field :image %>
  </td>
  <td class="actions"><%= link_to_remove_fields t(:remove), f, :no_text => true %></td>
</tr>
