<%= render :partial => '/spree/admin/orders/sub_menu' %>
<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:cancel_order), fire_admin_order_url(@order.number, { :e => 'cancel' }), :icon => 'icon-trash', :data => { :confirm => t(:are_you_sure) } if @order.can_cancel? %>
  </li>
  <% if @order.returnable? %>
    <li>
      <%= button_link_to 'Return Order', new_user_returns_url(:order_number => @order.number, email: @order.email), :icon => 'icon-refresh', :target => 'blank' %>
    </li>
  <% elsif @order.order_return_requested? %>
    <li>
      <button class="ui-state-disabled" disabled>
        <i class="icon-check"></i>
        Order Return Requested
      </button>
    </li>
  <% end %>
  <li>
    <%= button_link_to t(:edit), edit_admin_order_url(@order.number), :icon => 'icon-edit' %>
  </li>
  <li><%= button_link_to t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left' %></li>
<% end %>


<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Order Details' } %>

<%= render 'size_normalisation' %>


<div data-hook="admin_order_show_addresses" class="row">
  <fieldset class="alpha twelve columns no-border-bottom">
    <legend align="center">Details</legend>
    <div class="align-center">
      <p><strong>Email:</strong> <%= @order.email %></p>
      <p><strong>Phone:</strong> <%= @order.billing_address.try(:phone) %></p>
    </div>
  </fieldset>
  <% if @order.bill_address %>
    <fieldset class="alpha six columns no-border-bottom">
      <legend align="center"><%= t(:bill_address) %></legend>
      <div class="align-center">
        <%= render :partial => 'spree/admin/shared/address', :locals => { :address => @order.bill_address } %>
      </div>
    </fieldset>
  <% end %>
  <% if @order.ship_address %>
    <fieldset class="omega six columns no-border-bottom">
      <legend align="center"><%= t(:ship_address) %></legend>
      <div class="align-center">
        <%= render :partial => 'spree/admin/shared/address', :locals => { :address => @order.ship_address } %>
      </div>
    </fieldset>
    <% end %>
</div>
<% if @order.customer_notes %>
  <div class="row" style="text-align:center;clear:both;">
    <fieldset class="omega twelve columns no-border-bottom" style="margin-left:0;">
      <legend align="center">Customer Notes</legend>
      <div class="align-center">
        <%= @order.customer_notes %>
      </div>
    </fieldset>
  </div>
<% end %>
<div data-hook="admin_order_show_details">
  <%= render :partial => 'spree/admin/shared/order_details', :locals => { :order => @order } %>
</div>
