<script>
window.SLAY_IT_FORWARD = {
  tileImages: [
    "<%= image_path "slay/dunham.jpg" %>",
    "<%= image_path "slay/imagine-peace.jpg" %>",
    "<%= image_path "slay/woman-cover-eyes.jpg" %>",
    "<%= image_path "slay/woman-front-face.jpg" %>",
    "<%= image_path "slay/woman-photo-shoot.jpg" %>",
    "<%= image_path "slay/woman-sitting.jpg" %>"
  ]
}
</script>
<div id='slay-it-forward-app'></div>
