<div id='slay-it-forward-app'></div>
<script>
window.SLAY_IT_FORWARD = {
  tileImages: [
    "<%= image_path "slay/dunham.jpg" %>",
    "<%= image_path "slay/imagine-peace.jpg" %>",
    "<%= image_path "slay/woman-cover-eyes.jpg" %>",
    "<%= image_path "slay/woman-front-face.jpg" %>",
    "<%= image_path "slay/woman-photo-shoot.jpg" %>",
    "<%= image_path "slay/woman-sitting.jpg" %>"
  ],
  shareTileImages: [
    "<%= image_path "slay/slayitforward-black.jpg" %>",
    "<%= image_path "slay/slayitforward-white.jpg" %>"
  ],
  heroImagesBig: [
    "<%= image_path "slay/hero/woman-1@2x.jpg" %>",
    "<%= image_path "slay/hero/woman-2@2x.jpg" %>",
    "<%= image_path "slay/hero/woman-3@2x.jpg" %>",
    "<%= image_path "slay/hero/woman-4@2x.jpg" %>",
    "<%= image_path "slay/hero/woman-5@2x.jpg" %>",
    "<%= image_path "slay/hero/woman-6@2x.jpg" %>",
    "<%= image_path "slay/hero/woman-7@2x.jpg" %>",
    "<%= image_path "slay/hero/woman-8@2x.jpg" %>"
  ],
  heroImagesMobile: [
    "<%= image_path "slay/hero/woman-1.jpg" %>",
    "<%= image_path "slay/hero/woman-2.jpg" %>",
    "<%= image_path "slay/hero/woman-3.jpg" %>",
    "<%= image_path "slay/hero/woman-4.jpg" %>",
    "<%= image_path "slay/hero/woman-5.jpg" %>",
    "<%= image_path "slay/hero/woman-6.jpg" %>",
    "<%= image_path "slay/hero/woman-7.jpg" %>",
    "<%= image_path "slay/hero/woman-8.jpg" %>"
  ],
  nyree: "<%= image_path "slay/nyree-ceo.jpg" %>"
}
</script>
