<style>
  table.upload-preview td {
    padding: 2px;
  }

  table.upload-preview td textarea {
    width: 100%;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('table.index td a.deletion-link').on('ajax:success', function(e) { 
      $(e.target).closest('tr').remove();
      return false;
    });
  });
</script>

<% content_for :page_actions do %>
  <div class="toolbar" data-hook="toolbar">
    <ul class="actions header-action-links inline-menu">
      <li id="product_batch_upload_link">
        <%= link_to "Batch upload", new_admin_product_uploads_url,
          { remote: true, id: 'admin_product_batch_upload', class: 'button icon-plus'} %>
      </li>
    </ul>
  </div>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<div id="product_batch_upload" data-hook>
  <%= render partial: "spree/admin/product_uploads/form" %>
</div>

<% if @products %>
  <h3>Following products have been created</h3>

  <table class="index preview">
    <% @products.each do |product| %>
      <tr id="product-preview-<%= product.id %>">
        <td>#<%= product.id %>
        <td><%= product.name %>
        <td><%= link_to 'Edit', spree.edit_admin_product_path(product) %></td>
        <td><%= link_to 'Edit images', spree.admin_product_images_path(product) %></td>
        <td><%= link_to 'Edit variants', spree.admin_product_variants_path(product) %></td>
        <td>
          <%= link_to 'Delete', spree.admin_product_path(product),
                class: 'deletion-link', remote: true, method: :delete, confirm: I18n.t(:confirm_delete) %>
        </td>
      </tr>
    <% end %>
  </table>

<% end %>

<% if @parsed_data %>
  <style type="text/css">
    .field.lower {
      padding: 5px 0;
    }
  </style>
  <br/><br/>
  <%= form_tag admin_product_uploads_path, id: :product_batch_upload do %>
    <% @parsed_data.each_with_index do |product, index| %>
      <div class="product-batch-upload">
        <ul>
          <li><a href="#product-<%= index %>-main-details">Main Details</a></li>
          <li><a href="#product-<%= index %>-properties">Product Properties</a></li>
          <li><a href="#product-<%= index %>-style-profile">Style Profile</a></li>
          <li><a href="#product-<%= index %>-recommendations">Recomendations</a></li>
          <li><a href="#product-<%= index %>-customizations">Customizations</a></li>
        </ul>
        <div id="product-<%= index %>-main-details">
          <div class="alpha columns" style="width:   0px;">
            <%= check_box_tag "products[#{index}][upload]", 1, false %>
          </div>
          <div class="omega columns" style="width: 424px;">
            <div class="field lower">
              <label for="products_<%= index %>_sku"><%= t(:sku) %></label>
              <%= text_field_tag "products[#{index}][sku]", product.sku, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_name"><%= t(:name) %></label>
              <%= text_field_tag "products[#{index}][name]", product.name, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_description"><%= t(:description) %></label>
              <%= text_area_tag  "products[#{index}][description]", product.description, rows: 11, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_price_in_aud">AUD</label>
              <%= text_field_tag "products[#{index}][price_in_aud]", product.price_in_aud, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_price_in_usd">USD</label>
              <%= text_field_tag "products[#{index}][price_in_usd]", product.price_in_usd, :class => 'fullwidth' %>
            </div>
          </div>
          <div class="omega columns" style="width: 424px;">
            <div class="field lower" style="height: 221px;">
              <label for="products_<%= index %>_taxon_ids"><%= t(:taxons) %></label>
              <%= select_tag "products[#{index}][taxon_ids][]", options_from_collection_for_select(
                Spree::Taxon.all,
                :id,
                :pretty_name,
                product.taxon_ids
              ), multiple: true, id: "products_#{index}_taxon_ids", class: 'fullwidth select2' %>
            </div>
            <div class="field lower" style="height: 221px;">
              <label for="products_<%= index %>_colors"><%= t(:colors) %></label>
              <%= select_tag "products[#{index}][colors][]", options_from_collection_for_select(
                Spree::OptionType.find_by_name('dress-color').option_values,
                :name,
                :presentation,
                product.colors
              ), multiple: true, id: "products_#{index}_colors", class: 'fullwidth select2' %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div id="product-<%= index %>-properties">
          <div class="alpha columns" style="width: 439px;">
            <div class="field lower">
              <label for="products_<%= index %>_properties_style_notes"><%= t(:style_notes) %></label>
              <%= text_field_tag "products[#{index}][properties][style_notes]", product.style_notes, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_fit"><%= t(:fit) %> & <%= t(:size) %></label>
              <%= text_field_tag "products[#{index}][properties][fit]", product.fit, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_fabric"><%= t(:fabric) %></label><br/>
              <%= text_field_tag "products[#{index}][properties][fabric]", product.fabric, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_product_type"><%= t(:product_type) %></label>
              <%= text_field_tag "products[#{index}][properties][product_type]", product.product_type, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_product_category"><%= t(:product_category) %></label>
              <%= text_field_tag "products[#{index}][properties][product_category]", product.product_category, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_factory_id"><%= t(:factory_id) %></label>
              <%= text_field_tag "products[#{index}][properties][factory_id]", product.factory_id, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_factory_name"><%= t(:factory_name) %></label>
              <%= text_field_tag "products[#{index}][properties][factory_name]", product.factory_name, :class => 'fullwidth' %>
            </div>
          </div>
          <div class="omega columns" style="width: 439px;">
            <div class="field lower">
              <label for="products_<%= index %>_properties_product_coding"><%= t(:product_coding) %></label>
              <%= text_field_tag "products[#{index}][properties][product_coding]", product.product_coding, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_shipping"><%= t(:shipping) %></label>
              <%= text_field_tag "products[#{index}][properties][shipping]", product.shipping, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_stylist_quote_short"><%= t(:stylist_quote_short) %></label>
              <%= text_field_tag "products[#{index}][properties][stylist_quote_short]", product.stylist_quote_short, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_product_stylist_quote_long"><%= t(:stylist_quote_long) %></label>
              <%= text_field_tag "products[#{index}][properties][stylist_quote_long]", product.stylist_quote_long, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_product_details"><%= t(:product_details) %></label>
              <%= text_field_tag "products[#{index}][properties][product_details]", product.product_details, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_revenue"><%= t(:revenue) %></label>
              <%= text_field_tag "products[#{index}][properties][revenue]", product.revenue, :class => 'fullwidth' %>
            </div>
            <div class="field lower">
              <label for="products_<%= index %>_properties_cogs"><%= t(:cogs) %></label><br/>
              <%= text_field_tag "products[#{index}][properties][cogs]", product.cogs, :class => 'fullwidth' %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div id="product-<%= index %>-style-profile">
          <div class="columns alpha" style="width: 209px;">
            <fieldset>
              <legend>Style points</legend>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_glam"><%= t(:glam) %></label>
                <%= text_field_tag "products[#{index}][style_profile][glam]", product.glam, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_girly"><%= t(:girly) %></label>
                <%= text_field_tag "products[#{index}][style_profile][girly]", product.girly, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_classic"><%= t(:classic) %></label>
                <%= text_field_tag "products[#{index}][style_profile][classic]", product.classic, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_edgy"><%= t(:edgy) %></label>
                <%= text_field_tag "products[#{index}][style_profile][edgy]", product.edgy, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_bohemian"><%= t(:bohemian) %></label>
                <%= text_field_tag "products[#{index}][style_profile][bohemian]", product.bohemian, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_sexiness"><%= t(:sexiness) %></label>
                <%= text_field_tag "products[#{index}][style_profile][sexiness]", product.sexiness, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_fashionability"><%= t(:fashionability) %></label>
                <%= text_field_tag "products[#{index}][style_profile][fashionability]", product.fashionability, :class => 'fullwidth' %>
              </div>
            </fieldset>
          </div>
          <div class="columns" style="width: 209px;">
            <fieldset>
              <legend>Body shape</legend>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_apple"><%= t(:apple) %></label>
                <%= text_field_tag "products[#{index}][style_profile][apple]", product.apple, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_pear"><%= t(:pear) %></label>
                <%= text_field_tag "products[#{index}][style_profile][pear]", product.pear, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_strawberry"><%= t(:strawberry) %></label>
                <%= text_field_tag "products[#{index}][style_profile][strawberry]", product.strawberry, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_hour_glass"><%= t(:hour_glass) %></label>
                <%= text_field_tag "products[#{index}][style_profile][hour_glass]", product.hour_glass, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_column"><%= t(:column) %></label>
                <%= text_field_tag "products[#{index}][style_profile][column]", product.column, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_athletic"><%= t(:athletic) %></label>
                <%= text_field_tag "products[#{index}][style_profile][athletic]", product.athletic, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_style_profile_petite"><%= t(:petite) %></label>
                <%= text_field_tag "products[#{index}][style_profile][petite]", product.petite, :class => 'fullwidth' %>
              </div>
            </fieldset>
          </div>
          <div class="columns" style="width: 209px;">
            <fieldset>
              <legend>Song</legend>
              <div class="field lower">
                <label for="products_<%= index %>_song_link"><%= t(:link) %></label>
                <%= text_field_tag "products[#{index}][song][link]", product.song_link, :class => 'fullwidth' %>
              </div>
            </fieldset>
          </div>
          <div class="columns omega" style="width: 209px;">
            <fieldset>
              <legend>Perfume</legend>
              <div class="field lower">
                <label for="products_<%= index %>_perfume_name"><%= t(:name) %></label>
                <%= text_field_tag "products[#{index}][perfume][name]", product.perfume_name, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_perfume_brand"><%= t(:brand) %></label>
                <%= text_field_tag "products[#{index}][perfume][brand]", product.perfume_brand, :class => 'fullwidth' %>
              </div>
              <div class="field lower">
                <label for="products_<%= index %>_perfume_link"><%= t(:link) %></label>
                <%= text_field_tag "products[#{index}][perfume][link]", product.perfume_link, :class => 'fullwidth' %>
              </div>
            </fieldset>
          </div>
          <div class="clearfix"></div>
        </div>
        <div id="product-<%= index %>-recommendations">
          <% product.recommendations.each do |style, array| %>
            <fieldset>
              <legend><%= style.to_s.titleize %></legend>
                <table>
                  <colgroup>
                    <col style="width: 26%;">
                    <col style="width: 32%;">
                    <col style="width: 10%;">
                    <col style="width: 26%;">
                    <col style="width: 6%;">
                  </colgroup>
                  <thead>
                    <tr>
                      <th><%= t(:name) %></th>
                      <th><%= t(:description) %></th>
                      <th><%= t(:price) %></th>
                      <th><%= t(:links) %></th>
                      <th><%= t(:position) %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% array.each_with_index do |attributes, sub_index| %>
                      <tr>
                        <td>
                          <%= text_field_tag "products[#{index}][recommendations][#{style}][#{sub_index}][name]", attributes[:name] %>
                        </td>
                        <td>
                          <%= text_field_tag "products[#{index}][recommendations][#{style}][#{sub_index}][description]", attributes[:description] %>
                        </td>
                        <td>
                          <%= text_field_tag "products[#{index}][recommendations][#{style}][#{sub_index}][price]", attributes[:price] %>
                        </td>
                        <td>
                          <%= text_field_tag "products[#{index}][recommendations][#{style}][#{sub_index}][link]", attributes[:link] %>
                        </td>
                        <td>
                          <%= text_field_tag "products[#{index}][recommendations][#{style}][#{sub_index}][position]", attributes[:position] %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </fieldset>
          <% end %>
          <div class="clearfix"></div>
        </div>
        <div id="product-<%= index %>-customizations">
          <table>
            <colgroup>
              <col style="width: 70%;">
              <col style="width: 15%;">
              <col style="width: 15%;">
            </colgroup>
            <thead>
            <tr>
              <th><%= t(:name) %></th>
              <th><%= t(:price) %></th>
              <th><%= t(:position) %></th>
            </tr>
            </thead>
            <tbody>
            <% product.customizations.each_with_index do |customization, sub_index| %>
              <tr>
                <td>
                  <%= text_field_tag "products[#{index}][customizations][#{sub_index}][name]", customization[:name] %>
                </td>
                <td>
                  <%= text_field_tag "products[#{index}][customizations][#{sub_index}][price]", customization[:price] %>
                </td>
                <td>
                  <%= text_field_tag "products[#{index}][customizations][#{sub_index}][position]", customization[:position] %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <div class="clearfix"></div>
        </div>
      </div>
      <br/><br/>
    <% end %>
    <%= submit_tag 'Create products from checked rows' %>
  <% end %>
<% else %>
<h4>No products preview available. Upload some to start</h4>
<% end %>
