<% # Currenly using Bulma's responsive width %>
<picture class="">
  <source media="(max-width: 768px)" srcset="<%= @lg_contents[:mobile_image] %>">
  <source media="(min-width: 769px)" srcset="<%= @lg_contents[:image] %>">
  <img class="Editorial__image" src="<%= @lg_contents[:image] %>" srcset="
    <%= @lg_contents[:mobile_image] %> 768w,
    <%= @lg_contents[:image] %> 769w">
</picture>

<%
products = []

if @lg_contents[:overlay_pids]

  @lg_contents[:overlay_pids].each do |pid|
    split_pid = pid.split('-', 2)
    current_id = split_pid[0].to_i
    current_color = split_pid[1]

    present_product = @collection.products.select do |item|
      if item.color.present?
        item.id == current_id && item.color.name == current_color
      else
        nil
      end
    end

    if present_product.present?
      products.push(present_product[0])
    end
  end

end
%>

<% if products.count > 0 %>
<div class="Editorial__overlay">
  <h4 class="Editorial__overlayTitle">Shop the Look</h4>
  <ul>
  <% products.each do |item|
    name = item.name
    path = collection_product_path(item, color: item.color.try(:name))
  %>
    <li>
      <a href="<%= path %>">
        <%= name %>
      </a>
    </li>
  <% end %>
  </ul>
</div>
<% end %>

<% if (@lg_contents[:image_caption]) && (@lg_contents[:image_caption_url]) %>
  <div class="Editorial__overlayBottomCaption">
    <%= link_to @lg_contents[:image_caption], @lg_contents[:image_caption_url], class: (@lg_contents[:image_caption_color] == 'black') ? "Editorial__overlayBottomCaptionTitle Editorial__overlayBottomCaptionTitle--dark" : "Editorial__overlayBottomCaptionTitle", target: @lg_contents[:image_caption_link_target] %>
  </div>
<% end %>
