<%= content_tag(:div, class: "CopyHeader CopyHeader#{@md_contents[:text_size]}") do %>
  <h1 class="CopyHeader__title" style="color: <%= @md_contents[:copy_block_heading_color] %>">
    <%= @md_contents[:copy_block_heading] %>
  </h1>
  <div class="CopyHeader__content CopyHeader__content--noMaxWidth is-hidden-mobile">
    <% @md_contents[:text].each do |line| %>
      <p><%== line %></p>
    <% end %>
  </div>
  <div class="CopyHeader__content CopyHeader__content--noMaxWidth is-hidden-tablet">
    <% @md_contents[:text_mobile].each do |line| %>
      <p><%== line %></p>
    <% end %>
  </div>
<% end %>
