<%
  split_pid = @pid.split('-', 2)

  product = @collection.products.select do |item|
    if item.fabric.present?
      item.id == split_pid[0].to_i && item.fabric.name == split_pid[1]
    elsif item.color.present?
      item.id == split_pid[0].to_i && item.color.name == split_pid[1]
    else
      nil
    end
  end

  if product.present?
    name = product[0].name
    price = product_price_with_discount(product[0])
    image = product[0].images.first
    image_hover = product[0].images.last
    is_super_fast_making = product[0].super_fast_making

    if product[0].fabric.present?
      path = collection_product_path(product[0], color: product[0].fabric.try(:name))
    else
      path = collection_product_path(product[0], color: product[0].color.try(:name))
    end
  else
    name = ''
    price = ''
    image = ''
    image_hover = ''
    path = ''
  end
%>

<% if product.present? %>
<div class="Product">
  <a href="<%= path %>">
    <div class="ProductImageWrapper">
      <% # PID image replacement %>
      <% if contents[:"image_replacement_#{pid_index}"] %>
        <%= image_tag(contents[:"image_replacement_#{pid_index}"], class: 'js-product-image Product__image' ) %>
      <% else %>
        <%= image_tag(image, class: 'js-product-image Product__image', 'data-hover': image_hover, 'data-original': image ) %>
      <% end %>
      <% if is_super_fast_making.present? %>
        <%= render 'shared/redesign/ribbon_super_express_shipping' %>
      <% end %>
    </div>

    <p class="Product__name"><%= name %></p>
    <p class="Product__price"><%= price %></p>
  </a>
</div>
<% end %>
