<a href="<%= contents[:relative_url] %>" class="CtaButton__content Btn__ctaSlimBorder" style="background: <%= contents[:background_color] %>; color: <%= contents[:text_color] %>; border: 1px solid <%= contents[:border_color] %>"><%= contents[:button_label] %></a>
