<div class="CtaTile">
  <a href="<%= contents[:tile_cta][:tile_cta_link] %>" target="<%= contents[:tile_cta][:tile_cta_link_target] %>">
    <%= image_tag(contents[:tile_cta][:tile_cta_image_url], class: 'js-cta-tile-image CtaTile__image img-responsive') %>
    <div class="is-hidden-mobile">
      <h4 class="CtaTile__heading"><%== contents[:tile_cta][:tile_cta_heading]%></h4>
      <p class="CtaTile__content"><%== contents[:tile_cta][:tile_cta_text]%></p>
      <p class="CtaTile__link"><span class="CtaTile__linkCopy"><%= contents[:tile_cta][:tile_cta_link_text]%></span> <i class="icon icon-arrow-right"></i></p>
    </div>
    <div class="is-hidden-tablet">
      <h4 class="CtaTile__heading"><%== contents[:tile_cta][:tile_cta_heading_mobile]%></h4>
      <p class="CtaTile__content"><%== contents[:tile_cta][:tile_cta_text_mobile]%></p>
      <p class="CtaTile__link"><span class="CtaTile__linkCopy"><%= contents[:tile_cta][:tile_cta_link_text_mobile]%></span> <i class="icon icon-arrow-right"></i></p>
    </div>
  </a>
</div>
