<% if (@lg_contents[:tile_url].nil?) %>
  <% # Currenly using Bulma's responsive width %>
  <picture>
    <source media="(max-width: 768px)" srcset="<%= @lg_contents[:mobile_image] %>">
    <source media="(min-width: 769px)" srcset="<%= @lg_contents[:image] %>">
    <img class="Editorial__image" src="<%= @lg_contents[:image] %>" srcset="
      <%= @lg_contents[:mobile_image] %> 768w,
      <%= @lg_contents[:image] %> 769w">
  </picture>
<% else %>
  <a href="<%= @lg_contents[:tile_url] %>" target="<%= @lg_contents[:tile_link_target] %>">
    <% # Currenly using Bulma's responsive width %>
    <picture>
      <source media="(max-width: 768px)" srcset="<%= @lg_contents[:mobile_image] %>">
      <source media="(min-width: 769px)" srcset="<%= @lg_contents[:image] %>">
      <img class="Editorial__image" src="<%= @lg_contents[:image] %>" srcset="
        <%= @lg_contents[:mobile_image] %> 768w,
        <%= @lg_contents[:image] %> 769w">
    </picture>
  </a>
<% end %>
