<%= render 'spree/shared/error_messages', target: @celebrity %>

<%= form_for [:admin, @celebrity] do |f| %>
  <fieldset>
    <legend align="center"><%= t(:new_celebrity) %></legend>
    <div class="row">
      <div class="free columns">
        <%= f.field_container :kind do %>
          <%= f.radio_button :kind, 'featured_blogger' %>
          <%= f.label :kind, 'Featured blogger' %> <span class="required">*</span><br />
          <%= f.radio_button :kind, 'celebrity', checked: true %>
          <%= f.label :kind, 'Celebrity' %> <span class="required">*</span><br />
          <%= f.error_message_on :kind %>
        <% end %>
      <div class="free columns">
        <%= f.field_container :first_name do %>
          <%= f.label :last_name, t(:first_name) %> <span class="required">*</span><br />
          <%= f.text_field :first_name, :class => 'fullwidth' %>
          <%= f.error_message_on :first_name %>
        <% end %>
      </div>
      <div class="free columns">
        <%= f.field_container :last_name do %>
          <%= f.label :last_name, t(:last_name) %>
          <%= f.text_field :last_name, :class => 'fullwidth' %>
          <%= f.error_message_on :last_name %>
        <% end %>
      </div>
      <div class="free columns">
        <%= f.field_container :slug do %>
          <%= f.label :slug, t(:slug) %> <span class="required">*</span><br />
          <%= f.text_field :slug, :class => 'fullwidth' %>
          <%= f.error_message_on :slug %>
        <% end %>
      </div>
    </div>

    <div class="form-buttons filter-actions actions">
      <%= button t(:create), 'icon-ok' %>
    </div>
  </fieldset>
<% end %>
