<div class="new-product-step">
  <%= f.field_container :name do %>
    <%= f.label :name, t(:name) %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title' %>
    <%= f.error_message_on :name %>
  <% end %>

  <%= f.field_container :source do %>
    <%= f.label :source, t(:source) %> <span class="required">*</span><br />
    <%= f.text_field :source, :class => 'fullwidth title' %>
    <%= f.error_message_on :source %>
  <% end %>

  <%= f.field_container :image do %>
    <%= f.label :image, t(:image) %>
    <%= f.error_message_on :image %>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.url(:thumbnail) %>
    <% end %>
  <% end %>

  <div data-hook="new_product_accessory_attrs" class="row">
    <div class="three columns">
      <%= f.field_container :position do %>
        <%= f.label :position, t(:position) %><br />
        <%= f.text_field :position, :class => 'fullwidth' %>
        <%= f.error_message_on :position %>
      <% end %>
    </div>

    <div class="three columns">
      <%= f.field_container :price do %>
        <%= f.label :price, t(:price) %> <span class="required">*</span><br />
        <%= f.text_field :price, :class => 'fullwidth' %>
        <%= f.error_message_on :price %>
      <% end %>
    </div>

    <div class="three columns">
      <%= f.field_container :style do %>
        <%= f.label :style_id, t(:style) %> <span class="required">*</span><br />
        <%= f.select :style_id, options_from_collection_for_select(Style.all, :id, :name, f.object.style_id) %>
        <%= f.error_message_on :style %>
      <% end %>
    </div>
  </div>
</div>
