<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @accessory } %>

<%= form_for [:admin, @accessory], :html => { :multipart => true } do |f| %>

<fieldset data-hook="new_product_accessory">

  <legend align="center"><%= t(:new_product_accessory) %></legend>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button t('actions.create'), 'icon-ok' %>
    <span class="or"><%= t(:or) %></span>
    <%= link_to_with_icon 'icon-remove', t('actions.cancel'), admin_product_accessories_path, :class => 'button' %>
  </div>
</fieldset>
<% end %>
