<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Celebrity Inspiration' } %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @celebrity_inspiration } %>

<%= form_for @celebrity_inspiration, :url => admin_product_inspiration_url(@product), :method => :put do |f| %>
  <fieldset>
    <table>
      <tr>
        <td style="width: 20%"><%= f.label :celebrity_name %></td>
        <td><%= f.text_field :celebrity_name %></td>
      </tr>
      <tr>
        <td><%= f.label :photo %></td>
        <td>
          <% if f.object.photo.present? %>
            <div>
              <%= image_tag f.object.photo.url(:thumbnail) %>
            </div>
          <% end %>
          <br />
          <%= f.file_field :photo %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :celebrity_description, "INFO" %></td>
        <td><%= f.text_area :celebrity_description, rows: 10, cols: 80 %></td>
      </tr>
    </table>
  </fieldset>

  <div class="form-buttons filter-actions actions">
    <%= button t(:update), 'icon-refresh' %>
  </div>
<% end %>

