<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render 'layouts/custom_experience/head' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <div class="app-container">
      <%= yield %>
    </div>

    <%= render 'google_tag_manager/base' %>
    <%= javascript_include_tag 'application_custom_experience' %>
    <%= render 'layouts/custom_experience/javascript' %>

  </body>
</html>
