<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render 'layouts/custom_experience/head' %>
    <%= stylesheet_link_tag 'application_custom_experience' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <div id="react-blanket" class="__react_root__"></div>
    <div id="content-container" class="content-container">
      <% unless disable_notices? %>
      <%= render 'layouts/redesign/notices' %>
      <% end %>
    </div>
    <div id="react-menu" class="__react_root__"></div>
    <div id="react-header" class="__react_root__ __react_root_relaunch__"></div>
    <div id="react-cart" class="__react_root__ __react_root_relaunch__"></div>
    <div>
      <%= yield %>
    </div>
    <div id="react-footer" class="__react_root__ __react_root_relaunch__"></div>
    <div id="portal-root"></div>
    <%= yield :microservice_js %>

    <%= render 'google_tag_manager/base' %>
    <%= javascript_include_tag 'application_custom_experience' %>
    <%= render 'layouts/custom_experience/javascript' %>

  </body>
</html>
