<% @lg_contents = contents %>
<% (@lg_contents[:video].present? && @lg_contents[:mobile_video].nil?) ? no_mobile_video_class = 'u-overlay-area--noMobileMedia' : no_mobile_video_class = nil %>
<div class="section-row columns">
  <div class="column is-full">
    <div class="Editorial Editorial--featured <%= contents[:full_width_content_class] %>">
      <div class="u-overlay-area <%= no_mobile_video_class %>">
        <div class="u-overlay-area__media">
          <%= render partial: "layouts/contentful/modules/items/ITEM--lg", locals: {contents: contents}  %>
        </div>
        <% if contents[:live_text] %>
          <div class="u-overlay-area__overlay">
            <div class="u-overlay-area__caption u-overlay-area__caption--center">
              <div class="Editorial__liveText" style="color: <%= contents[:live_text_color] %>">
                <%= contents[:live_text] %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
