<% @lg_contents = contents %>
<div class="section-row columns">
  <div class="column is-full">
    <div class="Editorial Editorial--featured <%= contents[:full_width_content_class] %>">
      <% if contents[:live_text] %>
        <div class="u-overlay-area">
          <div class="u-overlay-area__media">
            <%= render partial: "layouts/contentful/modules/items/ITEM--lg" %>
          </div>
          <div class="u-overlay-area__overlay">
            <div class="u-overlay-area__caption u-overlay-area__caption--center">
              <div class="Editorial__liveText" style="color: <%= contents[:live_text_color] %>">
                <%= contents[:live_text] %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%= render partial: "layouts/contentful/modules/items/ITEM--lg" %>
      <% end %>
    </div>
  </div>
</div>
