<%
  def hero_text_position(position)
    case position
    when "left"
      'HeroTileCaption__alignmentLeft'
    when "right"
      'HeroTileCaption__alignmentRight pull-right'
    else
      # Defaults to 'Center'...
      'CopyWrap__position--center'
    end
  end

  def hero_text_color(color)
    case color
    when "white"
      'HeroTileCaption--white'
    end
  end

  def hero_text_size(size)
    case size
    when "small"
      'HeroTileCaptionHeading--small'
    when "large"
      'HeroTileCaptionHeading--large'
    end
  end

  def hero_vertical_position(position)
    case position
    when "top"
      'HeroTileCaption__verticalPositionTop u-overlay-area__caption--top'
    when "bottom"
      'HeroTileCaption__verticalPositionBottom u-overlay-area__caption--bottom'
    else
      # Defaults to 'center'...
      'u-overlay-area__caption--center'
    end
  end
%>

<div class="section-row columns">
  <div class="column is-full">
    <div class="Editorial Editorial--featured u-forced-full-width-wrapper u-forced-full-width-wrapper--mobile">
      <div class="HeroTile js-hero-tile-carousel">
        <% contents[:carousel_items].each do |carousel_item| %>
          <a href="<%= carousel_item[:tile_url] %>">
            <div class="u-overlay-area u-crop-media-edges-on-resize--mobile">
              <div class="Hero__media u-overlay-area__media">
                <% @lg_contents = carousel_item %>
                <%= render partial: "layouts/contentful/modules/items/ITEM--editorial-tile-copy-cta-button-overlay" %>

                <div class="u-overlay-area__overlay">
                  <% # Desktop %>
                  <% if carousel_item[:heading].present? || carousel_item[:sub_heading].present? || carousel_item[:cta_button_text].present? %>
                    <div class="HeroTileCaption u-overlay-area__caption is-hidden-mobile <%= hero_vertical_position(carousel_item[:text_vertical_position]) %> <%= hero_text_color(carousel_item[:text_color]) %> <%= hero_text_position(carousel_item[:text_position]) %>" style="padding-top: <%= carousel_item[:extra_padding_top] %>">
                      <div class="text-center">
                        <h2>
                          <% if carousel_item[:heading].present? %>
                            <span class="HeroTileCaptionHeading <%= hero_text_size(carousel_item[:text_size]) %>">
                              <% carousel_item[:heading].each do |heading| %>
                                <%= heading %>
                                <br>
                              <% end %>
                            </span>
                          <% end %>
                          <% if carousel_item[:sub_heading].present? %>
                            <span class="HeroTileCaptionSubheading">
                              <% carousel_item[:sub_heading].each do |sub_heading| %>
                                <%= sub_heading %>
                                <br/>
                              <% end %>
                            </span>
                          <% end %>
                        </h2>
                        <% if carousel_item[:cta_button_text].present? %>
                          <div class="CtaButton__content Btn__ctaHeroTile Btn__ctaFade" style="background: <%= carousel_item[:cta_button_background_color] %>; color: <%= carousel_item[:cta_button_text_color] %>; border: 1px solid <%= carousel_item[:cta_button_border_color] %>">
                              <%= carousel_item[:cta_button_text] %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>

                  <% # Mobile %>
                  <% if carousel_item[:heading_mobile].present? || carousel_item[:sub_heading_mobile].present? || carousel_item[:cta_button_text].present? %>
                    <div class="HeroTileCaption u-overlay-area__caption is-hidden-tablet <%= hero_vertical_position(carousel_item[:text_vertical_position_mobile]) %> <%= hero_text_color(carousel_item[:text_color]) %>" style="padding-top: <%= carousel_item[:extra_padding_top_mobile] %>">
                      <div class="CopyWrap__position--center">
                        <div class="text-center">
                          <h2>
                            <% if carousel_item[:heading_mobile] %>
                              <span class="HeroTileCaptionHeading">
                                <% carousel_item[:heading_mobile].each do |heading_mobile| %>
                                  <%= heading_mobile %>
                                  <br/>
                                <% end %>
                              </span>
                            <% end %>
                            <% if carousel_item[:subheading_mobile].present? %>
                              <span class="HeroTileCaptionSubheading">
                                <% carousel_item[:subheading_mobile].each do |subheading_mobile| %>
                                  <%= subheading_mobile %>
                                  <br/>
                                <% end %>
                              </span>
                            <% end %>
                          </h2>
                        </div>
                        <% if carousel_item[:cta_button_text].present? %>
                          <div class="CtaButton__content Btn__ctaHeroTile Btn__ctaFade" style="background: <%= carousel_item[:cta_button_background_color] %>; color: <%= carousel_item[:cta_button_text_color] %>; border: 1px solid <%= carousel_item[:cta_button_border_color] %>">
                              <%= carousel_item[:cta_button_text] %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
