<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">

    <%= stylesheet_link_tag 'application_returns' %>
    <%= stylesheet_link_tag "#{configatron.node_pdp_url}/#{webpack_assets['cssBundle']}" %>

    <%= render 'layouts/redesign/head' %>

    <%= csrf_meta_tags %>

    <% if Features.active?(:google_tag_manager) %>
      <%= render 'google_tag_manager/base' %>
    <% end %>

    <style>
       @media print {
         .main,
         #sideMenu,
         .instructions__header,
         .product-image,
         .hide-for-print,
         #react-blanket,
         #react-menu,
         #react-cart,
         #react-header,
         #react-footer,
         #cart {
           display: none !important;
         }

         .Confirmation__shipping-label {
           max-width: 720px;
           padding: 20px;
           margin: 20px 0;
           border: 2px dashed black;
         }

         .dotted-line {
           border-style: dashed;
         }

         .Product__listItem {
            border: 2px solid;
            padding: 10px;
            margin-bottom: 10px;
         }

         .Confirmation__packaging-slip {
           page-break-before: always;
         }
       }

    </style>
  </head>
  <body>


    <div id="react-blanket" class="__react_root__"></div>
    <div id="react-menu" class="__react_root__"></div>
    <div id="react-cart" class="__react_root_relaunch__"></div>

    <div class="app-container">
      <div id="react-header" class="__react_root_relaunch__"></div>
      <%= yield %>
    </div>

    <div id="react-footer" class="__react_root_relaunch__"></div>
    <div id="portal-root"></div>

    <%= javascript_include_tag 'application_returns' %>
    <%= render 'layouts/contentful/javascript' %>
    <%= javascript_include_tag "#{configatron.node_pdp_url}/#{webpack_assets['jsBundle']}" %>

  </body>
</html>
