<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_celebrities_tabs">
      <li<%== ' class="active"' if current == 'Basic Details' %>>
        <%= link_to_with_icon 'icon-edit', t(:basic_details), edit_admin_celebrity_path(@celebrity) %>
      </li>
      <li<%== ' class="active"' if current == 'Products' %>>
        <%= link_to_with_icon 'icon-th-large', t(:products), edit_admin_celebrity_products_path(@celebrity) %>
      </li>
      <li<%== ' class="active"' if current == 'Style Profile' %>>
        <%= link_to_with_icon 'icon-list', t(:style_profile), edit_admin_celebrity_style_profile_path(@celebrity) %>
      </li>
      <li<%== ' class="active"' if current == 'Images' %>>
        <%= link_to_with_icon 'icon-picture', t(:images), admin_celebrity_images_path(@celebrity) %>
      </li>
    </ul>
  </nav>
<% end %>
