<% content_for :page_title do %>
  <%= t(:editing_product) %> &ldquo;<%= @product.name %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
  <span class="sku"><%= @product.sku %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_product_tabs">
      <li>
        <%= link_to_with_icon 'icon-eye-open', 'Preview on Site', collection_product_path(@product), { target: '_blank' } %>
      </li>
      <li<%== ' class="active"' if current == 'Product Details' %>>
        <%= link_to_with_icon 'icon-edit', t(:product_details), edit_admin_product_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Images' %>>
        <%= link_to_with_icon 'icon-picture', t(:images), admin_product_images_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Variants' %>>
        <%= link_to_with_icon 'icon-th-large', t(:variants),  admin_product_variants_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Product Properties' %>>
        <%= link_to_with_icon 'icon-tasks', t(:product_properties), admin_product_product_properties_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Customisations' %>>
        <%= link_to_with_icon 'icon-th-large', t(:customisations), admin_product_customisation_values_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Fabrics' %>>
        <%= link_to_with_icon 'icon-th-large', t(:fabrics), admin_product_fabrics_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Making Options' %>>
        <%= link_to_with_icon 'icon-th-large', t(:making_options), admin_product_making_options_url(@product) %>
      </li>
    </ul>
  </nav>

<% end %>
