<div data-hook="admin_inside_taxon_banner_banner_form" class="row">
  <div class="omega seven columns">
    <%= banner_form.field_container :title do %>
      <%= banner_form.label :title %><br />
      <%= banner_form.text_field :title, :class => 'fullwidth' %>
    <% end %>
  </div>

  <% if banner_form.object.image.present? %>
    <div class="omega seven columns">
      <%= image_tag banner_form.object.image.url(:banner), width: '360' %>
    </div>
  <% end %>

  <div class="omega seven columns">
    <%= banner_form.field_container :image do %>
      <%= banner_form.label :image %><br />
      <%= banner_form.file_field :image %>
    <% end %>
  </div>

  <div class="omega seven columns">
    <%= banner_form.field_container :description do %>
      <%= banner_form.label :description, t(:description) %><br />
      <%= banner_form.text_area :description, :class => 'fullwidth', style: 'width: 600px;', :rows => 6 %>
    <% end %>
  </div>

  <div class="omega seven columns">
    <%= banner_form.field_container :footer_text do %>
      <%= banner_form.label :footer_text, t(:footer_text) %><br />
      <%= banner_form.text_area :footer_text, :class => 'fullwidth', style: 'width: 600px;', :rows => 6 %>
    <% end %>
  </div>
</div>
