<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:taxon_edit) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:back_to_taxonomies_list), spree.admin_taxonomies_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= form_for [:admin, @taxonomy, @taxon], :method => :put, :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <div class="form-buttons" data-hook="buttons">
    <%= button t(:update), 'icon-refresh' %> <%= t(:or) %> <%= button_link_to t(:cancel), edit_admin_taxonomy_url(@taxonomy), :icon => "icon-remove" %>
  </div>
<% end %>

<hr />
<% if @taxon.root.permalink  == 'range' %>
  <% if @taxon.banner.present? %>
    <h3>Edit banner on products page</h3>
  <% else %>
    <h3>Add banner for products page</h3>
  <% end %>

  <% @banner = @taxon.banner || @taxon.build_banner(title: @taxon.name) %>

  <%= form_for @banner, :as => :banner,
        :url => admin_update_taxon_banner_path(@taxonomy.id, @taxon.id),
        :method => :put,
        :html => { :class => 'form', multipart: true } do |banner_form| %>
    <%= render 'banner_form', banner_form: banner_form %>

    <div class="form-buttons" data-hook="buttons">
      <%= banner_form.submit t(:update) %>
      <%= t(:or) %> <%= button_link_to t(:cancel), edit_admin_taxonomy_url(@taxonomy), :icon => "icon-remove" %>
    </div>
  <% end %>
<% end %>
