<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:general_settings) %>
<% end %>

<%= form_tag admin_general_settings_path, :method => :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">
      <% @preferences_general.each do |key|
          type = Spree::Config.preference_type(key) %>
          <div class="field">
            <%= label_tag(key, t(key) + ': ') + tag(:br) if type != :boolean %>
            <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
            <%= label_tag(key, t(key)) + tag(:br) if type == :boolean %>
          </div>
      <% end %>


      <div class="row">
        <div class="alpha twelve columns">
          <fieldset class="no-border-bottom">
            <legend align="center">Gray Top Banner (above the menu)</legend>

            <% @site_versions.each do |site_version| %>
              <% top_banner = Preferences::TopBanner.new(site_version) %>

              <legend align="left"><%= site_version.name %></legend>
              <div class="field">
                <label>Center Text</label>
                <%= preference_field_tag top_banner.center_text_key, top_banner.center_text, type: :string %>
              </div>

              <div class="field">
                <label>Right Text</label>
                <%= preference_field_tag top_banner.right_text_key, top_banner.right_text, type: :string %>
              </div>
            <% end %>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="alpha twelve columns">
          <fieldset class="no-border-bottom">
            <legend align="center">Store Location Warn (Black banner above the menu)</legend>

            <% @site_versions.each do |site_version| %>
              <% warn = Preferences::LocaleWarn.new(site_version) %>
              <legend align="left"><%= site_version.name %></legend>
              <div class="field">
                <label>Warn text</label>
                <%= preference_field_tag warn.long_text_key, warn.long_text, type: :string %>
              </div>
            <% end %>
          </fieldset>
        </div>
      </div>


      <div class="row">
        <div class="alpha six columns">
          <fieldset class="security no-border-bottom">
            <legend align="center"><%= t(:security_settings)%></legend>
            <% @preferences_security.each do |key|
                type = Spree::Config.preference_type(key) %>
                <div class="field">
                  <%= label_tag(key, t(key) + ': ') + tag(:br) if type != :boolean %>
                  <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
                  <%= label_tag(key, t(key)) + tag(:br) if type == :boolean %>
                </div>
            <% end %>
          </fieldset>
        </div>
        <div class="omega six columns">
          <fieldset class="currency no-border-bottom">
            <legend align="center"><%= t(:currency_settings)%></legend>
            <% @preferences_currency.each do |key|
                type = Spree::Config.preference_type(key) %>
                <div class="field">
                  <%= label_tag(key, t(key) + ': ') + tag(:br) if type != :boolean %>
                  <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
                  <%= label_tag(key, t(key)) + tag(:br) if type == :boolean %>
                </div>
            <% end %>
            <div class="field">
              <%= label_tag :currency, t(:choose_currency) %><br>
              <%= select_tag :currency, currency_options, :class => 'fullwidth' %>
            </div>
            <div class="field">
              <%= label_tag t(:currency_symbol_position) %><br>
              <div class="choices">
                <ul>
                  <li>
                    <%= radio_button_tag :currency_symbol_position, "before" %>
                    <%= label_tag :currency_symbol_position_before, Spree::Money.new(10, :symbol_position => "before") %>
                  </li>
                  <li class="white-space-nowrap">
                    <%= radio_button_tag :currency_symbol_position, "after" %>
                    <%= label_tag :currency_symbol_position_after, Spree::Money.new(10, :symbol_position => "after") %>
                  </li>
                </ul>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button t(:update), 'icon-refresh' %>
        <span class="or"><%= t(:or) %></span>
        <%= link_to_with_icon 'icon-remove', t(:cancel), edit_admin_general_settings_url, :class => 'button' %>
      </div>

    </fieldset>

  </div>


<% end %>

<script>
  $('#currency').select2();
</script>
